.newyear-sec{
    /* justify-content: space-between;
    /* align-items: end;
    text-align: end;
    display: flex; */ 
    justify-content: flex-end;
    margin-left: 1350px;
    /* margin-top: 50px; */

}
.header-txt{
    font-size: 30px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/resources/Banner\ Image.png');
    color: white;
    font-size: large;
    width: 1350px;
    height: 600px;
    margin-left: 50px;
}
.header-text{
    font-size: 45px;
    
}
.holiday-section1{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.color-sec{
    color: firebrick;
}
.midnight-sec2{
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
    background-image: url('/resources/Vectorrr.png');
    width: 1300px;
    height: 400px;
    margin-left: 100px;
    /* border-radius: 30px; */
    padding: 10px;
    color: white;
    font-size: 30px;

}
.sec-3{
    padding: 200px;
    background-color:papayawhip;
    text-align: center;
    width: 900px;
    height: auto;
    margin-top: 100px;
    margin-left: 100px;


}
.text-color{
    color: red;
    border-radius: 4px;

}
.OFFER-section{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.sec-4{
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.img-part{
    /* background-image: url('/resources/Rectangle\ 2.png'); */
}
/* .img-part1{
    display: flex;
    position: absolute;
}
.img-part2{
    position: absolute;
} */
.img-sec{
    /* background-image: url('/resources/Rectangle\ 1.png'); */
     display: flex;
    position: relative ;
    align-items: center;
    justify-content: center;
    /* margin-right: 100px; */
    /* padding: 100px; */
    /* font-size: large; */

} 
.box-img{
    position: absolute;
    margin-top: 400px;
    margin-right: 600px;
}
.red-img{
    /* position: relative; */
    background-image:url('/resources/Rectangle\ 2.png');
}

.img-sec1{
    display: flex;
    justify-content: center;
    /* margin-right: 600px; */
    position: absolute;
    /* margin-left: 80px; */
    /* padding-right: 300px; */

    
}
.image{
    margin-left: 1050px;
}
.img-sec3{
    justify-content: center;
    align-items: center;
    /* display: grid; */
    position: relative;
    /* margin-right: 300px; */
    /* margin-bottom: 200px; */
    margin-left: 700px;
    
} 




.six-image-section{
    justify-content: center;
    align-items: center;
    padding: 100px;
}
/* .six-sec:hover{
        opacity: 0.7; Example hover effect
      
} */
.one-img:hover{
    background-color:red;
}
.two-img:hover{
    background-color:red;
}
.three-img:hover{
    background-color:red;
}
.four-img:hover{
    background-color:red;
}
.five-img:hover{
    background-color:red;
}
.six-img:hover{
    background-color:red;
}

.msg-sec{
    background-color:darksalmon;
    align-items: center;
    text-align: center;
    height: 500px;
}
/* .btn-sec{
    border-radius: 5px; 
    /* font-weight: 200;  */
    /* font-size: 30px; */
/* }   */
.user-email{
    border-radius: 6px;
    /* font-weight: 10; */
    border-radius: 40px 0 0 40px;
    font-size: 20px;
    font-weight: 100px;
    padding: 12px;
    border: 0;
    gap:0;

}
.btn-sec2{
    background-color: rgba(255, 0, 0, 0.679);
    color:white;
    border-radius: 0 40px 40px 0;
    /* border-radius: solid; */
    font-size: 20px;
    border: 0;
    font-weight: 150px;
    margin-right:0;
    /* position: relative; */
    padding: 12px;
    gap: 0;
    /* display: flex; */
}


.footer-sec{
    background-color:rgba(0, 0, 139, 0.459) ;
    height: 300px;
    padding: 100px;
    margin-top: 200px;
    text-decoration: underline;


}
.footer-sec1{
 display: flex;
 justify-content: space-evenly;
}

.footer-sec2{
    justify-content:center;
    align-items: center;
    display: flex;
}
.line{
    text-decoration: underline;
}
.footer-sec3{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    
}




